*{
    color: white;
    background-color: #444654;
}

.content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calc{
    border: 2px solid #ededed;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    background-color: black;
}

#output{
    all: unset;
    text-align: end;
    background-color: white;
    padding: 0.5rem 0;
    margin: 1rem 0;
    width: 20vh;
}

.option{
    background-color: darkblue;
}

.symbol{
    background-color: orange;
}

.number{
    background-color: green;
}

#euro{
    color: black;
}

#zloty{
    color: black;
}

.btns{
    display: flex;
    flex-wrap: wrap;
    width: 20vh;
    gap: 0.5rem;
    padding: 1rem;
    background-color: black;
}

button{
    all: unset;
    height: 2rem;
    flex: 1 1 20%;
    text-align: center;
    transition: background-color 0.3s ease; 
}
#output{
    color: black;
}

button:hover{

    background-color: white;
    color: black;
    cursor: pointer;
}