*{
    color: white;
    background-color: black;
}

.content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#output{
    all: unset;
    text-align: end;
    background-color: white;
    padding: 0.5rem 0;
    width: 20vh;
}

.option{
    background-color: darkblue;
}

.symbol{
    background-color: orange;
}

.number{
    background-color: green;
}

#euro{
    color: black;
}

#zloty{
    color: black;
}

.btns{
    display: flex;
    flex-wrap: wrap;
    width: 20vh;
}

button{
    all: unset;
    height: 3rem;
    width: 25%;
    text-align: center;
}

#output{
    color: black;
}

button:hover{
    transform: translate(-1px, -2px);
    cursor: pointer;
}
